*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#login-sec{
    padding: 100px 0;
}
.login-h{
    text-align: center;
    color:blue;
    padding:15px 0 ;
    text-transform: capitalize;
    font-size: 40px;
}
.login-container{
    width: 30%;
    margin: auto;
    background-color: rgb(249, 237, 222);
    border-radius: 2px;
}
.login-form{
    width: 80%;
    margin: auto;
    padding: 25px 0;
    text-align: center;
}
.login-form input{
    display: block;
    width: 100%;
    margin:40px 0;
    padding: 10px 5px;
}
.login-form button{
    width: 40%;
    padding: 10px 0;
    font-size: 20px;
    background-color: rgb(38, 69, 244);
    color: white;
    border: 0;
    border-radius: 7px;
}